        html,body{
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            box-sizing: content-box;
        }

        #container {
            margin: 0;
        }

        #poke-container {
            flex-grow: 3s;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            padding-inline-start: 0;
        }
        .card{
            padding: 40px;
            border: 1px solid;
            background-color: #c08e8e;
            color: #222;
            text-align: center;
        }
        .weight::before { 
            content:"weight  ";  
        }

        .baseExperience::before { 
                content:"Experience  ";  
            }

        #header-container {
            border-radius: 0px !important;
        }

        #flow{
            display:grid;
            grid-template-columns:auto auto;
        }
        #frame-container{
            display: fixed;
            margin:0 10px;
            padding:0;
            scroll-behavior: auto;

        }
        iframe{
            width: auto;
            height: 90%;
            margin: 0;
            padding-right:0 ;
            position: fixed;
            bottom: 0;
        }
        #Load-btn {
        background-color: cadetblue;
        font-size: x-large;
        position:absolute;
        border-radius:90px;
        bottom:0%;
        left: 50%;
        }

